*.old
*.dvi
*.ps
*.aux
*.bbl
*.blg
*.log
*.toc
*.url
*.bak
*.ilg
.DS_Store
.project
.texlipse
*~
*.bak
*.old

*.class
*.jar
*.war
*.ear

target
.project
.settings


*.dvi
*.ps
*.aux
*.bbl
*.blg
*.log
*.toc
*.url
*.ilg
.DS_Store
.texlipse
.pmd
