INPUT_ENCODING=UTF-8
JAVADOC_AUTOBRIEF=YES
OPTIMIZE_OUTPUT_JAVA=YES
TAB_SIZE=4
EXTRACT_ALL=YES
EXTRACT_PRIVATE=YES
EXTRACT_STATIC=YES
EXTRACT_ANON_NSPACES=YES
REFERENCED_BY_RELATION=YES
REFERENCES_RELATION=YES
CLASS_DIAGRAMS=YES
INLINE_SOURCES=YES
EXCLUDE_PATTERNS = */test/*
EXCLUDE=src/test
GENERATE_HTML=YES
GENERATE_ECLIPSEHELP=YES
